.home {
    height: 100%;

    .content {
        height: calc(100% - 80px);
        .part {
            height: 45%;
            margin-top: 10px;
            background: gainsboro;
        }
        .datail{
            margin-top: 10px;
            height: 100%;
            background: gainsboro;
        }
    }
}