.logo-title{
  display:flex;
  justify-content: space-between;
  align-items: center;
  color: #0088e9;
}

.ant-layout.ant-layout-has-sider.css-dev-only-do-not-override-1wazalj{
  height: 625px;
}
.main-content{
  margin: 10px;
}
