.form {
    margin-bottom: 24px;
}

.tableWrap {
    overflow: auto;
    height: calc(100% - 80px);
}

.publishAt {
    width: 100%;
}

.content {
    background-color: #fff;
    padding: 32px;
    overflow: auto;
    height: calc(100% - 30px);
}